h1{
    display: flex;
    justify-content: center;
}
body{
    background-image: url(../images/fondo.jpg);
    color: rgb(1, 2, 5);
    font-family: fantasy;
    overflow-y: hidden;
}
.perfil{
    display: flex;
    justify-content: center;
    
}
.perfil img{
    border-radius: 1000px;
    height: 200px;
    width: 200px;
}


h2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.contenedores{
    display: flex;
    justify-content: center;
    translate: -1%;

}



.link{
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: azure;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 60px;
    align-items: center;
    
}
.link:hover{
    background-color: rgb(187, 183, 183);
    cursor: pointer;
    
}
.link img{
    display: flex;
    translate: -400%;
}
.link a{
    display: flex;
    translate: -30%;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
footer{
    display: flex;
    justify-content: center;
    padding-top: 290px;
}